.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 32px;
    width: 100%;
    margin-left: var(--m2);
    margin-right: var(--m2);
}

.nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 32px;
    background-color: rgba(255,255,255,.3);
    transition: .5s;
    backdrop-filter: blur(10px);
  }
  
.nav__item {
    margin-bottom: var(--m4);
}

.nav__link {
    position: relative;
    color: var(--dark-color);
}
  
.nav__link:hover {
    color: var(--first-color);
}
  
.nav__logo {
    color: var(--white-color);
}

.nav__toggle {
    color: var(--white-color);
    font-size: 24px;
    cursor: pointer;
  }